@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}


:root {

  --main-color: hsl(342, 72%, 50%);
  --second-color: hsl(193, 89%, 38%);

  --bg-color: hsl(231, 81%, 8%);
  --bg2-color: hsl(231, 78%, 12%);

  --text-color: hsl(214, 100%, 95%);
  --text3-color: rgb(152, 167, 213);

  /* --text2-color: hsl(190, 100%, 95%); */
  /* --main2-color: hsl(355, 78%, 56%); */

  --h1-font: 3rem;
  --h2-font: 2.5rem;
  --h3-font: 2rem;
  --h4-font: 1.8rem;
  --p-font: 1.5rem;

}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color);
}

/* header */

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  border-color: var(--bg2-color);
  padding: 26px 10%;
  z-index: 1000;
}

header.sticky {
  padding: 14px 10%;
  background: var(--bg-color);
  border-bottom: 5px solid var(--bg2-color);
  transition: 0.4s;
}

.navbar {
  display: flex;
}

.logo-name {
  font-size: var(--h3-font);
  font-weight: 600;
  color: var(--text-color);
}

.logo-s-name {
  color: var(--main-color);
}

.navbar a {
  font-size: var(--h4-font);
  font-weight: 600;
  padding: 5px 10px;
  margin: 0 1.2rem;
  border-radius: 0.5rem;
  transition: all 0.6s ease;
  color: var(--second-color);
}

.navbar a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
}

#menu-icon {
  display: none;
  font-size: var(--h3-font);
  z-index: 10001;
  color: var(--text-color);
  cursor: pointer;
}

section {
  height: 100vh;
  height: 100svh;
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* home */

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.home-text h3 {
  font-size: var(--h3-font);
  letter-spacing: 2px;
  color: var(--main-color);
}

.home-text h1 {
  margin-left: 1rem;
  font-size: var(--h1-font);
  letter-spacing: 2px;
  color: var(--text-color);
}

.home-text h2 {
  margin-left: 2rem;
  font-size: var(--h2-font);
  letter-spacing: 2px;
  color: var(--second-color);
}

.home-pp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img-pp {
  width: 60%;
  opacity: 0.9;
}

.btn-cv {
  display: inline-block;
  margin: 1rem;
  text-align: center;
  width: 50%;
  padding: 7px 7px;
  border-radius: 0.5rem;
  font-size: var(--p-font);
  font-weight: 500;
  border: 2px solid var(--text-color);
  transition: all 0.6s ease;
  background-color: transparent;
  color: var(--text-color);
}

.btn-cv:hover {
  transform: scale(1.2);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}

/* projects */

.projects {
  padding-top: 20vh;
}

.projects-text {
  text-align: center;
  margin-bottom: 10rem;
}

.projects-text h2 {
  margin-bottom: 2.5rem;
  font-size: var(--h2-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
}

.projects-text h3 {
  font-size: var(--h3-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
}

/* space cards */
.projects-content {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, auto)); */
  /* align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

/* card */
.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 38rem;
  background: var(--bg2-color);
  border-radius: 0.5rem;
  padding: 20px;
  box-shadow: 3px 3px 2px var(--main-color);
}

.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 30%;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
}

.project-image {
  position: relative;
  /* height: 140px; */
  width: 60%;
  background-color: var(--bg2-color);
  margin-bottom: 3rem;
}

.project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 3px solid var(--text-color);
}

.project-description h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--h3-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
}

.project-description p {
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 2;
  color: var(--text-color);
  text-align: right;
  margin-bottom: 2rem;
}

.project-description p:nth-child(3) {
  color: var(--text3-color);
}

.project-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 25px;
  font-size: 2.5rem;
  color: var(--second-color);
  cursor: pointer;
}

.project-btn a {
  color: inherit;
  transition: all 0.6s ease;
}

.project-btn a:hover {
  transform: scale(1.2);
  color: var(--main-color);
}

/* about-me */

.about {
  display: flex;
  padding-top: 25vh;
  justify-content: space-between;
}

.about-img-pp {
  margin-right: 10rem;
  opacity: 0.85;
}

.about-text h2 {
  margin-bottom: 2.5rem;
  font-size: var(--h2-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
}

.about-text h3 {
  margin-bottom: 1rem;
  font-size: var(--h3-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
}

.about-text p {
  margin-bottom: 1.5rem;
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify;
  color: var(--text-color);
}

.about-text h4 {
  font-size: var(--p-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: justify;
  color: var(--second-color);
}

/* contact */

.contact-me {
  padding-top: 25vh;
  display: flex;
  gap: 10rem;
}

.contact-text h2 {
  margin-bottom: 2.5rem;
  font-size: var(--h2-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
}

.contact-text h3 {
  margin-bottom: 1rem;
  font-size: var(--h3-font);
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--main-color);
}

.contact-text p {
  margin-bottom: 1.5rem;
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify;
  color: var(--text-color);
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: var(--p-font);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  background: var(--bg2-color);
  color: var(--text-color);
  font-family: inherit;
  /* they do not inherit font from body */
}

.contact-form textarea {
  resize: none;
  height: 15rem;

}

.btn-send {
  border: none;
  outline: none;
  width: 35%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: var(--p-font);
  letter-spacing: 2px;
  cursor: pointer;
  background: var(--bg2-color);
  font-weight: 600;
  transition: all 0.6s ease;
  color: var(--second-color);
}

.btn-send:hover {
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: 600;
}

.mailer-success {
  display: inline-block;
  border: none;
  outline: none;
  width: 64%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: var(--p-font);
  letter-spacing: 2px;
  text-align: center;
  font-weight: 500;
  border: 1.5px solid var(--text-color);
  background-color: var(--main-color);
  color: var(--text-color);
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  padding: 8rem;
  font-size: var(--p-font);
  text-align: center;
  color: var(--second-color);
  font-weight: 600;
  letter-spacing: 2px;
}

/* social-icons */

.social-icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  list-style: none;
  font-size: 2.5rem;
  color: var(--second-color);
}

.social li {
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.6s ease;
}

.social li a {
  color: inherit;
}

.social li:hover {
  transform: scale(1.2) translateY(-4px);
  color: var(--main-color);
}

/* top-icon */

.top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.top i {
  color: var(--text-color);
  background: var(--second-color);
  font-size: 1.8rem;
  padding: 10px;
  border-radius: 0.5rem;
  transition: all 0.6s ease;
}

.top i:hover {
  transform: scale(1.15) translateY(-4px);
  border-radius: 1rem;
  color: var(--bg-color);
  background: var(--main-color);
}