@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* My Custom CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* My Custom CSS Reset END*/

body {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: hsl(0, 0%, 30%);
    background: hsl(3, 100%, 96%);
}

.container {
    max-width: 500px;
    margin: 30px auto;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

}

header h1 {
    font-size: 4rem;
    font-weight: 500;
}

/* Form & Filter */

.item-form,
.item-filter {
    min-width: 500px;
}

.item-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.item-form-input {
    width: 340px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid hsl(7, 85%, 81%);
    border-radius: 5px;

}

.btn-add,
.btn-clear {
    width: 130px;
    padding: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(6, 87%, 75%);
    border: 2px solid hsl(6, 87%, 75%);
    border-radius: 5px;
    cursor: pointer;
}

.btn-add:hover,
.btn-clear:hover {
    background-color: hsl(6, 100%, 68%);
    border: 2px solid hsl(6, 100%, 68%);
}

.item-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.item-form-filter {
    width: 340px;
    margin-bottom: 20px;
    padding: 10px;
    background: transparent;
    border: 2px solid hsl(7, 85%, 81%);
    border-radius: 5px;
}

/* Items */

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid hsl(7, 85%, 81%);
    border-radius: 5px;

}

.item-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    color: hsl(0, 0%, 30%);
    border: 2px solid hsl(7, 85%, 81%);
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-item-del {
    padding: 0;
    font-size: 2rem;
    /* color: hsl(0, 0%, 30%); */
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: hsl(7, 85%, 81%);
}

.btn-item-del:hover {
    color: hsl(6, 100%, 68%);
}

/* Media queries */
@media (max-width: 500px) {

    header,
    .item-form,
    .item-filter {
        flex-direction: column;
        align-items: center;
    }

    .items li {
        width: 100%;
    }
}